@media (max-width: 84em) {
  .header-content {
    max-width: 120rem;
  }

  .footer {
    padding: 10rem 10rem;
  }

  .text {
    width: 60%;
  }

  .text p {
    font-size: 2rem;
    color: #555;
    line-height: 1.3;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 10rem;
  }

  .team-container h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }

  .team-container P {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
  }

  .btn {
    border: #fff solid 1px;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .header {
    padding: 0rem;
  }

  .footer {
    padding: 10rem 10rem;
  }
  .about-container {
    flex-direction: column;
    align-content: center;
  }
  .about-image img {
    width: 30rem;
  }
  .about-image {
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .about-content h2 {
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    color: #555;
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  .about-content p {
    font-size: 2rem;
    color: #555;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .choice {
    flex-direction: column;
    display: flex;
  }
  .choice-image img {
    width: 30rem;
  }
  .text {
    width: 90%;
  }

  .button {
    font-size: 2rem;
    color: #0a0a0a;
    margin-bottom: 70rem;
  }

  .choice-content h2 {
    font-size: 5rem;
    color: #555;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
  }

  .choice-content p {
    font-size: 2rem;
    color: #555;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: center;
  }

  .choice-content {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .choice-images {
    width: 30rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .choice-images img {
    width: 25rem;
    display: block;
    margin: 0 auto;
  }

  .choice-image {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .choice-image img {
    width: 30rem;
    height: 20rem;
    margin-bottom: 2rem;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 10rem;
  }

  .team-container h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }

  .team-container P {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
  }

  .btn {
    border: #fff solid 1px;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .header-content {
    text-align: center;
  }

  .logo img {
    height: 2.4rem;
  }

  /* MOBILE NAVIGATION */
  .navigation {
    padding: 1rem 3rem;
    .nav-links,
    .nav-link {
      font-size: 1.4rem;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .footer {
    padding: 10rem 10rem;
  }

  .about-container {
    flex-direction: column;
    align-content: center;
  }

  .about-image img {
    width: 30rem;
  }

  .about-image {
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .about-content h2 {
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    color: #555;
    line-height: 1.7;
    margin-bottom: 1rem;
  }

  .about-content p {
    font-size: 2rem;
    color: #555;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 10rem;
  }

  .team-container h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }

  .team-container P {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
  }

  .btn {
    border: #fff solid 1px;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 744px (Small tablets) */
/**************************/
@media (max-width: 49em) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 5rem;
  }
  .header-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact-container {
    padding: auto 30rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .choice-images {
    display: flex;
    gap: 20px;
    width: 30rem;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 10rem;
  }

  .team-container h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }

  .team-container P {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
  }

  .btn {
    border: #fff solid 1px;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }

  .pricing-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .choice {
    flex-direction: row;
  }

  .choice-content p {
    font-size: 2rem;
    color: #555;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .choice-image img {
    width: 30rem;
  }

  .text {
    width: 90%;
  }

  .button {
    font-size: 2rem;
    color: #0a0a0a;
    margin-bottom: 70rem;
  }

  .choice-images {
    display: none;
  }

  .choice-image img {
    width: 25rem;
    height: 40rem;
  }

  .choice-image {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 8rem;
  }

  .team-container h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }

  .team-container P {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
  }

  .btn {
    border: #fff solid 1px;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .about-content h2 {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    color: #555;
    line-height: 1.7;
    margin-bottom: 1rem;
  }

  .about-content p {
    font-size: 1.8rem;
    color: #555;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .choice-content h2 {
    font-size: 3rem;
    color: #555;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
  }

  .text {
    width: 90%;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-team {
    justify-content: center;
    padding: 30rem 8rem;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gallery-card img {
    width: 15rem;
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 3rem;
    color: #555;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
  }
}

/**************************/
/* BELOW 480px (small-Phones) */
/**************************/
@media (max-width: 32em) {
  .nav-list {
    display: none;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: block;
    width: 40px;
    height: 40px;
  }
}
