@media (max-width: 84em) {
  .header-content {
    max-width: 120rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .header {
    padding: 0rem;
  }

  .footer {
    padding: 10rem 10rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .header-content {
    text-align: center;
  }

  .logo img {
    height: 2.4rem;
  }

  /* MOBILE NAVIGATION */
.navigation {
  padding: 1rem 3rem;
  .nav-links, .nav-link{
font-size: 1.4rem;
  }
}

  .nav-list {
   
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

   
    opacity: 0;

 
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .footer {
    padding: 10rem 10rem;
  }

  .about-container {
    flex-direction: column;
    align-content: center;
  }

  .about-image img {
    width: 30rem;
  }

  .about-image {
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}
/**************************/
/* BELOW 744px (Small tablets) */
/**************************/
@media (max-width: 49em) {
.navigation{
  flex-direction: column;
  justify-content: center;align-items: center;
}
.logo{
  height: 5rem;
}
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .choice {
    flex-direction: row;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 480px (small-Phones) */
/**************************/
@media (max-width: 32em) {
  .nav-list {
    display: none;
  }
  .navigation {
  flex-direction: row;
  justify-content: space-between;
}

  .menu {
    display: block;
    width: 40px;
    height: 40px;
  }
}